//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝

$brand-1: #6FFF5A;
$brand-2: #38B726;

$gray-1: #E7E7E7;
$gray-2: #8F8F8F;
$dark-1: #3D3D3D;
$dark-2: #212121;
$light: #FFF;
