//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝

$brand-1: #7e57c2;
$brand-2: #4d2c91;

$gray-1: #E7E7E7;
$gray-2: #8F8F8F;
$gray-light: #F7F7F7;
$dark-1: #3D3D3D;
$dark-2: #212121;
$light: #FFF;
