//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝

$brand-1: #b388ff;
$brand-1-dark: #805acb;
$brand-2: #8c9eff;
$brand-2-dark: #5870cb;

$positive: #00e676;
$negative: #ee5555;
$gray-1: #D1D1D1;
$gray-2: #C4C4C4;
$gray-light: #FAFAFA;
$dark-1: #3D3D3D;
$dark-2: #212121;
$light: #FFF;
