//  ████████╗██╗···██╗██████╗··██████╗·
//  ╚══██╔══╝╚██╗·██╔╝██╔══██╗██╔═══██╗
//  ···██║····╚████╔╝·██████╔╝██║···██║
//  ···██║·····╚██╔╝··██╔═══╝·██║···██║
//  ···██║······██║···██║·····╚██████╔╝
//  ···╚═╝······╚═╝···╚═╝······╚═════╝·

$brand-font: 'Montserrat', sans-serif;

$h1: 4rem;
$h2: 3.5rem;
$h3: 3rem;
$h4: 2.5rem;
$h5: 2rem;
$h6: 1.5rem;
$subtitle-1: 1.3rem;
$subtitle-2: 1.1rem;
$body: .9rem;
$body-small: .7rem;
$button: 1rem;
$p:.9rem;

$text-light:200;
$normal:400;
$medium:500;
$bolder:600;
$bold:900;
