.Coin__exchange__container{
  grid-area: exchange;
  margin-top: $space;
  text-align: center;
  
  > div {
text-align: left;
    padding: 0 $space * 1.5 $space;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
}
