.Header--home {
  padding: ($space * 0.5) 0;
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .Header__text {
    color: $brand-1;
    font-weight: $bolder;
    font-size: $subtitle-1;
    margin: 0;
  } 
}
