.Table__container {
  overflow: scroll;
  border-radius: 35px;
  width: 100%;
  max-height: 85vh;
  box-sizing: border-box;
  padding: $space * 2;
  background-color: $light;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.Table__head {
  th {
    font-weight: $bolder;
  }
}
.Table td,
.Table th {
  text-align: center;
}
