.Info__details__container {
  h2 {
    text-align: center;
    font-size: $h3;
  }
}
.Info__details {
  display: grid;
  grid-template-columns: 50% 50%;

  &--left,
  &--right {
    display: flex;
    flex-direction: column;
    span {
      margin: ($space * 0.3) 0;
      font-weight: $bolder;
      height: 20px;
    }
  }
  &--right {
    align-items: flex-end;
    span {
      color: $gray-2;
    }
  }
}
