table {
  border-collapse: collapse;
  tr {
    border-color: rgba(126, 87, 194, 0.2);
  }
}

.Table__item {
  box-sizing: border-box;
  padding: $space;
  color: $gray-2;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  a {
    color: $gray-2;
    display: contents;
  }
  .center__content {
    display: flex;
    justify-content: center;
  }
}

.dark .Table__item {
  &:hover {
    background-color: $dark-3dp;
  }
}
