%input-base {
  border-radius: 5px !important;
  padding: $space !important;
  width: auto !important;
  height: auto !important;
  border: none !important;
  &:focus {
    outline: none !important;
    border: none !important;
  }
} 

@mixin constructor($color1, $color2) {
  @extend %input-base;
  background-color: $color1 !important;
  color: $color2 !important;
  &--reverse {
    @extend %input-base ;
    background-color: $color2 !important;
    color: $color1 !important;
  }
}

.input__control {
  @include constructor($gray-1, $dark-2);
}
