.CriptoDetail {
  background-color: $gray-light;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(80px, 105px) 1fr 40px;
  gap: 15px;

  footer {
    a {
      color: $brand-1;
    }
  }
}

.dark .CriptoDetail {
  background-color: $dark-base;
}
