.Home {
  min-height: 100vh;
  background-color: $gray-light;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 50px;
  gap: $space * 2;
  @media (min-width:375px ) {
   grid-template-rows: minmax(95px,90px) 1fr 50px; 
  } 
}

.dark .Home {
  background-color: $dark-base;
}
