.Home {
  background-color: $gray-light;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(80px,85px) 1fr 50px;
  @media (min-width:375px ) {
   grid-template-rows: minmax(95px,90px) 1fr 50px; 
  }

  .Header--home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .Header__text {
      color: $brand-1;
      font-weight: $bolder;
      font-size: $h2;
      margin: 0;
    }
    
  } 
}
