@import "scss/vendors/normalize";

@import "scss/1-tokens/color";
@import "scss/1-tokens/typo";
@import "scss/1-tokens/spacing.scss";

@import "scss/2-foundations/colors.scss";
@import "scss/2-foundations/fonts.scss";
@import "scss/2-foundations/spacing";

@import "scss/3-atoms/buttons";
@import "scss/3-atoms/inputs";
@import "scss/3-atoms/coin_image";
@import "scss/3-atoms/icons";

@import "scss/4-molecules/table-item";
@import "scss/4-molecules/header_detail";
@import "scss/4-molecules/info_details";
@import "scss/4-molecules/footer";

@import "scss/5-organisms/container";
@import "scss/5-organisms/table";
@import "scss/5-organisms/cripto";
@import "scss/5-organisms/coin_exchange";

@import "scss/7-pages/home";
@import "scss/7-pages/details";

/*GLOBAL CSS*/
.up {
  color: $brand-2 !important;
}
.down {
  color: #ee5555 !important;
}
.show-md {
  display: none;
  @media (min-width: 765px) {
    display: table-cell;
  }
}
